.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  /* background-color: rgba(0, 0, 0, 0.468); */
  /* border: 1px solid black; */
  color: rgb(255, 255, 255);
  font-size: 20px;
}
